.section {
  color: white;
  background: black;
  height: auto;
}

.section.light {
  background: white;
}

.section-container {
  display: grid;
  z-index: 1;
  height: 800px;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
  justify-content: center;
}

.section-row {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  align-items: center;
  grid-template-areas: "col1 col2";
  margin-top: 80px;
  /* grid-template-areas: ;  function to alternate between col2 col1 and col1 col2*/
}

.section-row.img-first {
  grid-template-areas: "col2 col1";
}

.section-column-1 {
  margin-bottom: 15px;
  padding: 0 15px;
  grid-area: col1;
}

.section-column-2 {
  margin-bottom: 15px;
  padding: 0 15px;
  grid-area: col2;
}

.section-text-container {
  max-width: 600px;
  padding-top: 0;
  padding-bottom: 60px;
}

.headline {
  color: blue;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: white;
}

.title.light {
  color: black;
}

.subtitle {
  max-width: 450px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.subtitle.light {
  color: black;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  max-width: 560px;
  height: 100%;
}

.image {
  width: 100%;
  margin: 0 0 10px 0;
  padding-right: 0;
}

.button {
  border-radius: 10px;
  background: #4f7ec4;
  white-space: nowrap;
  padding: 16px 50px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.button.hidden {
  display: none;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  background: white;
  color: #4f7ec4;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .section-row {
    grid-template-areas: "col1 col1" "col2 col2";
  }

  .section-row.img-first {
    grid-template-areas: "col1" "col2";
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 32px;
  }

  .image {
    height: 70%;
  }
}