.dashboard {
  padding: 16px;
}

.metrics {
  display: flex;
  flex-direction: row;
}

.dashboard-content {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.expense-list {
  width: 30%;
  margin-top: 16px;
  margin-right: 16px;
}

.chart {
  width: 40%;
}